USE [master]
GO
/****** Object:  Database [UPPart2]    Script Date: 4/4/2019 9:56:42 PM ******/
CREATE DATABASE [UPPart2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UPPart2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\UPPart2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UPPart2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\UPPart2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UPPart2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UPPart2]
GO
/****** Object:  Table [dbo].[file]    Script Date: 4/4/2019 9:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[file](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FilePath] [varchar](255) NULL,
	[Name] [varchar](max) NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_File] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[file] ON 

INSERT [dbo].[file] ([ID], [FilePath], [Name], [Day], [Month], [Year]) VALUES (1, N'Upload/933526d9-c398-4db7-b58b-745d2d16b24e.jpg', N'images.jpg', 3, 3, 2019)
INSERT [dbo].[file] ([ID], [FilePath], [Name], [Day], [Month], [Year]) VALUES (2, N'Upload/230706da-2c58-4b76-9bea-2151215eb982.jpg', N'5s.jpg', 1, 1, 2014)
INSERT [dbo].[file] ([ID], [FilePath], [Name], [Day], [Month], [Year]) VALUES (3, N'Upload/65f102c1-3b53-434e-ab72-3af058348a8f.jpg', N'logo_first.jpg', 7, 4, 2019)
SET IDENTITY_INSERT [dbo].[file] OFF
/****** Object:  StoredProcedure [dbo].[CalendarDetail]    Script Date: 4/4/2019 9:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CalendarDetail]
	@day int,
	@month int,
	@year int
AS
BEGIN
	
	SET NOCOUNT ON;
	SELECT        FilePath, Name, Day, Month, Year, ID
FROM            [File]
WHERE        (Day = @day) AND (Month = @month) AND (Year = @year)
   
END
GO
/****** Object:  StoredProcedure [dbo].[InsertFile]    Script Date: 4/4/2019 9:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertFile]
	@Name varchar(MAX) ,
	@FilePath varChar(255),
	@day int ,
	@month int ,
	@year int 

AS
BEGIN
	
	SET NOCOUNT ON;
	INSERT        
	INTO [file](FilePath, Name, Day, Month, Year)
	VALUES  (@FilePath,@Name,@day,@month,@year)

  
END
GO
USE [master]
GO
